h1 {
    text-align: center;
    text-shadow: 2px gray;
    font-size: 50px;
    color: rgb(190, 110, 44);
}

h3 {
    text-align: center;
    margin-bottom: 35px;
    color: rgb(190, 110, 44);
}

.container{
    margin-left: 50px;
    margin-right: 50px;
}

h6 {
    text-align: center;
    color: rgb(190, 110, 44);
}

body{
    background-image: repeating-linear-gradient(#000000, #acacac);
}

img {
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}