<!DOCTYPE html>
<html lang="en">

<!--information about me will go here-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>facts</title>
    <link rel="shortcut icon" href="assets/img/favicon.png?v=2" type="image/x-icon">
    <link rel="stylesheet" href="../components/assets/style/about-me.css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Header                                            -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <header>
        <div class="container flexbox">
            <div class="title">
                <h1>facts <i class="fas fa-cubes"></i></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html" target="">home</a></li>
                    <li><a href="writing.html" target="">writing</a></li>
                    <li><a href="contact.html" target="">contact</a></li>
                </ul>
            </nav>
            <div class="mobile-nav">
                <p><i class="fas fa-bars" title="Menu"></i>
                <p>
            </div>
        </div>
    </header>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Banner                                            -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <div class="banner">
        <div class="container">
            <div class="heading">
                <h2>about me</h2>
                <hr>
            </div>
        </div>
    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Columns                                           -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section>
        <div class="row-container row">
            <div class="col col-md-6 col-lg-3">
                <div class="col-content">
                    <div class="content">
                        <h3>stuff about me</h3>

                        <p>
                            my name is cameron kowbel
                        </p>

                        <p>
                            I grew up in Lakeridge, Winnipeg Manitoba
                        </p>


                        <p> I have two biological siblings one who is 5 years older than me and a little
                            brother who is a year younger than me and I also have three step siblings two boys and one
                            girl so it is very loud when were all together
                        </p>


                        <p>
                            I wanted to design apps and games mostly games and a full dive headset so I could make some
                            of the games I've seen in shows and anime like sword art online and Yggdrasill, and because
                            coding has always interested me with what you can create with it
                        </p>


                        <p>
                            Everything we can create with it and what we can learn from using it like a more recent
                            thing we did was get the first picture of a blackhole and all the games that we can make and
                            the technology you could only see in novels before
                        </p>

                        <p>
                            A lot of things but some of them are video games, Star Wars, Warhammer, technology, anime,
                            mythology, and books.
                        </p>

                        <p>
                            My hobbies are reading playing video games, drawing, D&D, and designing things
                        </p>
                    </div>
                </div>
            </div>


    </section>

    <img src="../components/assets/img/me-&-mom-boat.jpg">

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <main></main>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="social">
                    <div class="nav">
                        <ul>
                            <li><a class="twitter" href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com/casualxmemer/" title="Instagram"><i
                                        class="fab fa-instagram"></i></a></li>
                            <li><a class="youtube" href="https://www.youtube.com/channel/UCFAiFyGs6oDiF1Nf-rRJpZA"
                                    title="YouTube"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    <p>&copy 2021 Super Website</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>