<!DOCTYPE html>
<html lang="en">

<!-- main hub of the whole page-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link rel="shortcut icon" href="assets/img/favicon.png?v=2" type="image/x-icon">
    <link rel="stylesheet" href="../components/assets/style/index.css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Header                                            -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <header>
        <div class="container flexbox">
            <div class="title">
                <h1>home <i class="fas fa-cubes"></i></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="writing.html" target="">blog</a></li>
                    <li><a href="contact.html" target="">contact</a></li>
                </ul>
            </nav>
            <div class="mobile-nav">
                <p><i class="fas fa-bars" title="Menu"></i>
                <p>
            </div>
        </div>
    </header>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Banner                                            -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <div class="banner">
        <div class="container">
            <div class="heading">
                <h2>home</h2>
                <h3>by: cameron kowbel</h3>
                <hr>
            </div>
        </div>
    </div>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Columns                                           -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->
     <section>
        <div class="row-container row">
            <div class="col col-md-6 col-lg-3">
                <div class="col-content">
                    <div class="content">
                        <h3>about me</h3>
                        <p>
                           if you would like to learn some stuff about me click the 
                           button below
                        </p>
                        <div class="button">
                            <a href="about-me.html">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
    </section> 

  

    <main></main>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="social">
                    <div class="nav">
                        <ul>
                            <li><a class="twitter" href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com/casualxmemer/" title="Instagram"><i
                                        class="fab fa-instagram"></i></a></li>
                            <li><a class="youtube" href="https://www.youtube.com/channel/UCFAiFyGs6oDiF1Nf-rRJpZA"
                                    title="YouTube"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    <p><a href="https://c.tenor.com/eUOiCZiskd8AAAAC/monkey-spinning-holding-hands.gif">&copy 2021 Super Website</a></p>
                    <!---->
                </div>
            </div>
        </div>
    </footer>
</body>

</html>